@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* background-color: hsl(142, 69% 58%); */
}
::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

/* 
R (0)
G (110)
B (255 */

@layer base {
  /* hsl(300 ,50% ,12.6%) */
  :root {
    --background: 260 40% 96%; /* hsl(260 40% 98) */
    --foreground: 224 71.4% 4.1%; /* hsl(224 71.4% 4.1%) */
    --card: 260 50% 97%; /* hsl(260 50% 90%) */
    --card-foreground: 224 71.4% 4.1%;
    --popover: 260 60% 97%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 282.09 100% 41.37%; /* hsl(282.09 100% 41.37%) */
    --primary-foreground: 300 10% 97.1%;
    --secondary: 280 70% 93%; /* hsl(260 70% 93%) */
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 260 70% 95%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 260 70% 95%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 260 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 282.09 100% 41.37%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 300 65% 3.36%; /* hsl(300 65% 3.36%) */
    --background-100: 300 85% 4.36%;
    --foreground: 300 10% 97.1%; /* hsl(300 10% 97.1%) */
    --muted: 300 50% 12.6%;
    --muted-foreground: 300 10% 54.2%;
    --popover: 300 45% 5.46%;
    --popover-foreground: 300 10% 97.1%;
    --card: 300 45% 5.46%; /* hsl(300 45% 5.46%) */
    --card-foreground: 300 10% 97.1%;
    --border: 300 50% 12.6%;
    --input: 300 50% 12.6%;

    --primary: 300 100% 42%; /* hsl(300 100% 42%) */
    --primary-foreground: 300 10% 97.1%;

    --secondary: 300 40% 10.6%; /* hsl( 300 40% 10.6%) */
    --secondary-foreground: 300 10% 97.1%;

    --accent: 300 50% 12.6%;
    --accent-foreground: 300 10% 97.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 300 10% 97.1%;
    --ring: 300 100% 42%; /* hsl(300 100% 42%) */
  }

  /* hsl() */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.cl-organizationSwitcherPopoverMain {
  @apply border-2 border-secondary bg-card dark:text-white;
}
.cl-internal-xbnnw8 > *,
.cl-internal-paul0f,
.cl-organizationSwitcherPopoverActionButton {
  @apply bg-card hover:bg-secondary dark:text-foreground;
}
.cl-internal-xbnnw8 > * > * {
  @apply bg-transparent;
}
.cl-internal-11ttlho {
  display: none;
}
.cl-internal-180wb59 {
  display: none;
}
.cl-userButton-root * {
  height: 35px;
  width: 35px;
}
.cl-internal-lqfubk {
  display: none;
}
.card {
  /* transform: perspective(1000px) rotateX(-30deg); */
}
